.container_container {
    display: flex;
    flex-direction: row;
}

.container_box {
    width: 50vw;
    height: 100vh;
}

.container_box_item {
    background-color: white;
    position: absolute;
    width: 42vw;
    height: 42vh;
    border: solid black 5px;
    transform: perspective(1000px) rotate3d(0, -1, 0, 50deg) rotate3d(1, 0, 0, 5deg);
}

.container_box_item_displayed {
    background-color: white;
    width: 42vw;
    height: 42vh;
    border: solid black 5px;
}

.fixed_box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right_to_left {
    animation-name: animation_right_to_left;
    animation-duration: 3s;
}

.left_to_right{
    animation-name: animation_left_to_right;
    animation-duration: 3s;
}

@keyframes animation_right_to_left {
    from {}

    to {
        transform:  translate(-43vw,3vh);
    }
}

@keyframes animation_left_to_right {
    from {}

    to {
        transform:  translate(43vw,3%) perspective(1000px) rotate3d(0, -1, 0, 50deg) rotate3d(1, 0, 0, 5deg);
    }
}